<div id="cart">
  <div class="order-top">
    <span class="my-order-count">({{ text_items }})</span>
    <p class="my-order">My Order</p>
  </div>
  <div class="order-list">
    {% if products or vouchers %}
    {% for product in products %}
    <div class="me mini">
      <div class="top-info">
        <p>{{ product.name }}</p>
        <span>{{ product.quantity }} x {{ product.total }}</span>
      </div>
      {#      <div class="bot-desc">#}
      {#        Home made lentil, onion, carrot, and potato blends with#}
      {#        red crash pepper#}
      {#      </div>#}
      <div class="action">
        <a href="javascript:void(0);" onclick="cart.remove('{{ product.cart_id }}');" data-toggle="tooltip" title="{{ button_remove }}"><i class="fa fa-window-close"></i> </a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="me-empty text-center">
      <br /><br />
      <img src="catalog/view/theme/default/img/bag.png">
      <p class="empty-bag-text">
        {{ text_empty }}
      </p>
    </div>
    {% endif %}
  </div>

  {% if products or vouchers %}
  <div class="order-bottom">
    {% for total in totals %}
    <span class="price-total">{{ total.text }}</span>
    <p class="subtotal">{{ total.title }}</p>
    {% endfor %}
  </div>

  <div class="special-request">
    <a href="javascript:void(0);" onclick="getGlobalSpecialRequest(this)">+ Special requests</a>
    <textarea class="special-requests-text" placeholder="Special requests"></textarea>
  </div>

  <p class="cant-online">Online ordering unavailable</p>

  <div class="text-center mt-3">
    <a href="{{ checkout }}" class="cb cb-blue" title="">{{ text_checkout }}</a>
  </div>
  {% endif %}
</div>