<!DOCTYPE html>
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}"><!--<![endif]-->
<head>
  <!-- Basic Page Needs -->
  <base href="{{ base }}" />
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.png">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="{{ author }}">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="catalog/view/theme/default/css/reset.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="catalog/view/theme/default/css/lightgallery.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/lightslider.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/slick.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/slick-theme.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/c.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/custom.css">
  <link rel="stylesheet" href="catalog/view/theme/default/css/responsive.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="catalog/view/theme/default/js/moment.min.js"></script>


  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}

  <meta name="author" content="{{ author }}">

</head>
<body class="{{ body_class }}">

{% if home_page == true %}
  {# Slider #}
    <div class="container-fluid padding-clear">
      <ul id="home-slider">
        <li>
          <img src="catalog/view/theme/default/img/home-slide.png"/>
          <div class="container home-slide-info">
            <div class="row">
              <div class="col-12 text-center">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                  Ipsum.
                </p>

                <a href="javascript:void(0);" class="rounded-btn">
                  RESERVATION
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <img src="catalog/view/theme/default/img/home-slide.png"/>
          <div class="container home-slide-info">
            <div class="row">
              <div class="col-12 text-center">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                  Ipsum.
                </p>

                <a href="javascript:void(0);" class="rounded-btn">
                  RESERVATION 2
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
{% endif %}

    <div class="tri" onclick="tri()"></div>
  {# Slider end #}

  {# Navigation menu #}
    <div class="container-fluid navigation-menu">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <a href="{{ home }}">
              <img src="{{ logo }}">
            </a>
          </div>
          <div class="col-9 align-self-center">
            <ul class="nav-menu">
              <li class="active"><a href="{{ home }}">{{text_home}}</a></li>
              <li><a href="javascript:void(0);">RESERVATION </a></li>
              <li><a href="/starters">MENU</a></li>
              <li><a href="javascript:void(0);">CATERING</a></li>
              <li><a href="javascript:void(0);">PRIVATE EVENTS</a></li>
              <li class="nav-round"><a href="{{ checkout }}">{{ text_checkout }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {# Navigation end #}
