{% if categories %}
<div>
  <ul class="sidebar-menu-list">
    <li>{{ text_category }}
      <ul>
        {% for category in categories %}
        <li id="{{ category_id }}_{{ category.id }}" {% if category_id == category.id %} class="active"{% endif %}>
          <a href="{{ category.href }}">{{ category.name }}</a>
          {% if category.children %}
          <ul class="child row">
            {% for child in category.children %}
              <li class="col-sm-4">
                <a href="{{ child.href }}">{{ child.name }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endif %}