<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{ text_refund_details }}</h4>
</div>
<div class="modal-body" id="squareup-refund-body">
    <div class="squareup-refund-step" id="squareup-refund-initial">
        <p>{{ text_select_refund_type }}</p>
        <p>
            <label class="radio-inline">
            <input type="radio" name="refund_type" value="amount" checked />
                {{ text_refund_only_amount }}
            </label>
        </p>
        <p>
            <label class="radio-inline">
            <input type="radio" name="refund_type" value="itemized" />
                {{ text_refund_itemized }}
            </label>
        </p>
    </div>
    <div class="squareup-refund-step" id="squareup-refund-step-itemized-refund">
        <h3>{{ text_itemized_refund_heading }}</h3>
        <p>{{ text_itemized_refund_intro }}</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ column_product_name }}</th>
                        <th>{{ column_product_model }}</th>
                        <th>{{ column_product_unit_price }}</th>
                        <th>{{ column_product_quantity }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="itemized_name">
                                <div>{{ product.name }}</div>
                                {% for option in product.options %}
                                    <div><small>- {{ option.name }}: {{ option.value }}</small></div>
                                {% endfor %}
                            </td>
                            <td class="itemized_model">
                                {{ product.model }}
                            </td>
                            <td>
                                {{ product.price }}
                            </td>
                            <td>
                                <input type="number" data-price="{{ product.price_raw }}" class="form-control" name="itemized_refund[{{ product.order_product_id }}]" data-type="quantity_refund" data-order-product-id="{{ product.order_product_id }}" value="0" min="0" max="{{ product.max_refund_quantity }}" />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <div class="form-group">
            <label class="control-label" id="squareup-refund-modal-content-itemized">{{ text_insert_amount }}</label>
            <input class="form-control" type="text" id="squareup-refund-itemized-insert" value="0" required data-max-allowed="{{ max_allowed }}" data-price-prefix="{{ price_prefix }}" data-price-suffix="{{ price_suffix }}" />
        </div>
    </div>
    <div class="squareup-refund-step" id="squareup-refund-step-itemized-restock">
        <h3>{{ text_itemized_restock_heading }}</h3>
        <p>{{ text_itemized_restock_intro }}</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ column_product_name }}</th>
                        <th>{{ column_product_model }}</th>
                        <th>{{ column_product_unit_price }}</th>
                        <th>{{ column_product_quantity }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="itemized_name">
                                <div>{{ product.name }}</div>
                                {% for option in product.options %}
                                    <div><small>- {{ option.name }}: {{ option.value }}</small></div>
                                {% endfor %}
                            </td>
                            <td class="itemized_model">
                                {{ product.model }}
                            </td>
                            <td>
                                {{ product.price }}
                            </td>
                            <td>
                                {% if product.is_ad_hoc_item %}
                                    <i class="fa fa-warning text-warning" data-toggle="tooltip" title="{{ text_is_ad_hoc_item }}"></i>
                                {% else %}
                                    <input type="number" data-price="{{ product.price_raw }}" class="form-control" name="itemized_restock[{{ product.order_product_id }}]" data-type="quantity_restock" data-order-product-id="{{ product.order_product_id }}" value="0" min="0" max="{{ product.max_restock_quantity }}" />
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="squareup-refund-step" id="squareup-refund-confirm-itemized">
        <h3>{{ text_itemized_refund_summary_heading }}</h3>
        <div class="alert alert-info" id="itemized_refund_restock_total"></div>
        <hr />
        <h3>{{ text_itemized_restock_summary_heading }}</h3>
        <div id="itemized_refund_restock_items"></div>
    </div>
    <div class="squareup-refund-step" id="squareup-refund-confirm-amount">
        <div class="form-group">
            <label class="control-label" id="squareup-refund-modal-content-reason">{{ text_confirm_refund }}</label>
            <textarea class="form-control" id="squareup-refund-reason-insert" required></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" id="squareup-refund-modal-content-amount">{{ text_insert_amount }}</label>
            <input class="form-control" type="text" id="squareup-refund-amount-insert" required data-max-allowed="{{ max_allowed }}" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="squareup-refund-back" type="button" class="btn btn-default">{{ text_back }}</button>
    <button id="squareup-refund-next" type="button" class="btn btn-primary">{{ text_next }}</button>
    <button id="squareup-refund-finish" type="button" class="btn btn-primary">{{ text_ok }}</button>
</div>