<p>{{ text_sync_configure_intro }}</p>
<hr />
<div class="form-control-static">
    <input type="radio" name="payment_squareup_initial_sync_type" value="1" /> {{ text_sync_configure_option_1 }}
</div>
<div class="form-control-static">
    <input type="radio" name="payment_squareup_initial_sync_type" value="2" {% if selected == '2' %} checked {% endif %} /> {{ text_sync_configure_option_2 }}
</div>
<div class="form-control-static">
    <input type="radio" name="payment_squareup_initial_sync_type" value="3" /> {{ text_sync_configure_option_3 }}
</div>
<div class="form-control-static">
    <input type="radio" name="payment_squareup_initial_sync_type" value="4" {% if selected == '4' %} checked {% endif %} /> {{ text_sync_configure_option_4 }}
</div>