{{ header }}


<section class="flat-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
            {% for breadcrumb in breadcrumbs %}
              <li class="{% if breadcrumb.order == "last" %}trail-end {% else %}trail-item{% endif %}">
                <a href="{{ breadcrumb.href }}" title="">{{ breadcrumb.text }}</a>
                  {% if breadcrumb.order != "last" %}<span><img src="catalog/view/theme/default/images/icons/arrow-right.png" alt=""></span>{% endif %}
              </li>
            {% endfor %}
        </ul><!-- /.breacrumbs -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->



<section class="flat-error">
  <div class="container">
    <div class="row">
      {{ column_left }}

      {% if column_left and column_right %}
          {% set class = 'col-lg-7 col-md-4' %}
      {% elseif column_left or column_right %}
          {% set class = 'col-lg-9 col-md-8' %}
      {% else %}
          {% set class = 'col-lg-12 col-md-12' %}
      {% endif %}
      <div class="{{ class }}">
        <div class="wrap-error center">
          {{ content_top }}
          <div class="header-error">
            {#<img src="images/banner_boxes/error.png" alt="">#}
            <h1>{{ heading_title }}</h1>
          </div><!-- /.header-error -->
          <div class="content-error">
            <p>{{ text_error }}</p>
          </div><!-- /.content-error -->
          {{ content_bottom }}
        </div><!-- /.wrap-error -->
      </div><!-- /.col-md-8 -->
      {{ column_right }}
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-error -->
{{ footer }}
