{{ header }}

<div class="container">
  <div class="row" id="menu-box">
    <div class="col-2 menu-list">
      <div>
        <div class="media">
          <img src="/catalog/view/theme/default/img/guest.png">
          <div class="media-body align-self-center">
            <span class="hi-guest">Hi, Guest</span>
          </div>
        </div>
      </div>

      {{ menu }}

    </div>
    <div class="col back-fff">
      <div id="addToOrderModal">
        <form>
          <input type="hidden" name="add">
          <div class="info-top">
            <p class="order-name">Lentil Soup</p>
            <p class="order-price">$<span>6.50</span></p>
            <p class="order-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in </p>

            <div class="special-request in-modal">
              <p class="ques">Special requests?</p>
              <a href="javascript:void(0);" onclick="getGlobalSpecialRequest(this)">+ Add them here. We”II do our best to make it happen</a>
              <textarea class="special-requests-text" placeholder="Special requests"></textarea>
              <span>* Extra charges may apply</span>
            </div>

            <div class="order-quantity">
              <span class="tx">Quantity</span>
              <div class="order-quantity-count">
                <a href="javascript:void(0);">-</a>
                <span>1</span>
                <a href="javascript:void(0);">+</a>
              </div>
            </div>
          </div>
          <button type="submit" class="cb cb-white w-100"><i class="fa fa-plus"></i> ADD TO MY ORDER</button>
        </form>
      </div>
      <h1 class="menu-heading">MENU</h1>
      <h4 class="menu-sub-heading">{{ heading_title }}</h4>

      {% if products %}
      <div class="c-menu-list">
        {% for product in products %}
        <div class="me" onclick="addToOrderModal(this)">
          <div class="top-info">
            <p>{{ product.name }}</p>
            <span class="price">
              {% if not product.special %}
              <span class="sale">{{ product.price }}</span>
              {% else %}
              <span class="sale">{{ product.special }}</span>
              <span class="regular">{{ product.price }}</span>
              {% endif %}
            </span>
          </div>
          <div class="bot-desc">
            {{ product.description }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}


      {% if description %}
      <hr>
      <div class="description row">
        <div class="col-sm-12">
          {% if thumb %}
            <div class="float-right hidden-xs" style="margin: 0 0 15px 20px"><img src="{{ thumb }}" alt="{{ heading_title }}" class="img-thumbnail" /></div>
          {% endif %}
          {% if description %}
            {{ description }}
          {% endif %}
        </div>
      </div>
      {% endif %}



    </div>
    <div class="col-3 back-fff border-left-decor">

      {{ cart }}

    </div>
  </div>
</div>
<div class="background-fullImage"></div>
{{ footer }}