{{ header }}




<div class="container">
  <div class="row" id="menu-box">
    <div class="col-2 menu-list">
      <div>
        <div class="media">
          <img src="/catalog/view/theme/default/img/guest.png">
          <div class="media-body align-self-center">
            <span class="hi-guest">Hi, Guest</span>
          </div>
        </div>
      </div>

      {{ menu }}

      <div>
        <ul class="sidebar-menu-list">
          <li>Menu
            <ul>
              <li>Starters</li>
              <li class="active">Salads</li>
              <li>Burgers</li>
              <li>Sandwiches</li>
              <li>Caspi Specials</li>
              <li>Pizzas and Pides</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col back-fff">
      <div id="addToOrderModal">
        <form>
          <input type="hidden" name="add">
          <div class="info-top">
            <p class="order-name">Lentil Soup</p>
            <p class="order-price">$<span>6.50</span></p>
            <p class="order-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in </p>

            <div class="special-request in-modal">
              <p class="ques">Special requests?</p>
              <a href="javascript:void(0);" onclick="getGlobalSpecialRequest(this)">+ Add them here. We”II do our best to make it happen</a>
              <textarea class="special-requests-text" placeholder="Special requests"></textarea>
              <span>* Extra charges may apply</span>
            </div>

            <div class="order-quantity">
              <span class="tx">Quantity</span>
              <div class="order-quantity-count">
                <a href="javascript:void(0);">-</a>
                <span>1</span>
                <a href="javascript:void(0);">+</a>
              </div>
            </div>
          </div>
          <button type="submit" class="cb cb-white w-100"><i class="fa fa-plus"></i> ADD TO MY ORDER</button>
        </form>
      </div>
      <h1 class="menu-heading">MENU</h1>
      <h4 class="menu-sub-heading">{{ heading_title }}</h4>

      {% if products %}
      <div class="c-menu-list">
        {% for product in products %}
        <div class="me" onclick="addToOrderModal(this)">
          <div class="top-info">
            <p>{{ product.name }}</p>
            <span class="price">
              {% if not product.special %}
              <span class="sale">{{ product.price }}</span>
              {% else %}
              <span class="sale">{{ product.special }}</span>
              <span class="regular">{{ product.price }}</span>
              {% endif %}
            </span>
          </div>
          <div class="bot-desc">
            {{ product.description }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}


      {% if description %}
      <hr>
      <div class="description row">
        <div class="col-sm-12">
          {% if thumb %}
            <div class="float-right hidden-xs" style="margin: 0 0 15px 20px"><img src="{{ thumb }}" alt="{{ heading_title }}" class="img-thumbnail" /></div>
          {% endif %}
          {% if description %}
            {{ description }}
          {% endif %}
        </div>
      </div>
      {% endif %}



    </div>
    <div class="col-3 back-fff border-left-decor">
      <div class="order-top">
        <span class="my-order-count">(5 item)</span>
        <p class="my-order">My Order</p>
      </div>
      <div class="order-list">
        <div class="me-empty text-center">
          <img src="assets/img/bag.png">
          <p class="empty-bag-text">
            Browse our menu and
            Start adding items to your
            order
          </p>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="bot-desc">
            Home made lentil, onion, carrot, and potato blends with
            red crash pepper
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>2 X Lentil Soup Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="bot-desc">
            Home made lentil, onion, carrot, and potato blends with
            red crash pepper
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
        <div class="me mini">
          <div class="top-info">
            <p>Lentil Soup</p>
            <span>$6.50</span>
          </div>
          <div class="action">
            <a href="javascript:void(0);"><i class="fa fa-window-close"></i> </a>
          </div>
        </div>
      </div>
      <div class="order-bottom">
        <span class="price-total">$46.50</span>
        <p class="subtotal">Subtotal</p>
      </div>

      <div class="special-request">
        <a href="javascript:void(0);" onclick="getGlobalSpecialRequest(this)">+ Special requests</a>
        <textarea class="special-requests-text" placeholder="Special requests"></textarea>
      </div>


      <p class="cant-online">Online ordering unavailable</p>


      <div class="text-center mt-3">
        <button type="submit" class="cb cb-blue">
          ORDER NOW
        </button>
      </div>
    </div>
  </div>
</div>
<div class="background-fullImage"></div>




<section class="flat-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          {% for breadcrumb in breadcrumbs %}
          <li class="{% if breadcrumb.order == "last" %}trail-end {% else %}trail-item{% endif %}">
            <a href="{{ breadcrumb.href }}" title="">{{ breadcrumb.text }}</a>
              {% if breadcrumb.order != "last" %}<span><img src="catalog/view/theme/default/images/icons/arrow-right.png" alt=""></span>{% endif %}
          </li>
          {% endfor %}
        </ul><!-- /.breacrumbs -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->



<main id="shop">
  <div class="container">
    <div class="row">

      {{ column_left }}

      {% if column_left and column_right %}
          {% set class = 'col-lg-7 col-md-4' %}
      {% elseif column_left or column_right %}
          {% set class = 'col-lg-9 col-md-8' %}
      {% else %}
          {% set class = 'col-lg-12 col-md-12' %}
      {% endif %}

      <div class="{{ class }}">
        <div class="main-shop">

          {{ content_top }}

          <div class="wrap-imagebox">
            <div class="flat-row-title">
              <h1>{{ heading_title }}</h1>
              {#<span>Showing 1–15 of 20 results</span>#}
              <div class="clearfix"></div>
            </div>

            {% if categories %}
            <div class="categories_list">
              <div class="row">
                {% for category in categories %}
                <div class="col-lg-3 col-sm-6">
                  <div class="imagebox style4">
                    <div class="box-image">
                      <a href="{{ category.href }}" title="{{ category.name }}">
                        <img src="{{ category.image }}" alt="{{ category.name }}">
                      </a>
                    </div><!-- /.box-image -->
                    <div class="box-content">
                      <div class="product-name">
                        <a href="{{ category.href }}" title="{{ category.name }}">{{ category.name }}</a>
                      </div>
                    </div><!-- /.box-content -->
                  </div><!-- /.imagebox style1 -->
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}


            {% if products %}
            <div class="sort-product">
              <ul class="icons">
                <li>
                  <img src="catalog/view/theme/default/images/icons/list-1.png" alt="{{ button_grid }}" title="{{ button_grid }}">
                </li>
                <li>
                  <img src="catalog/view/theme/default/images/icons/list-2.png" alt="{{ button_list }}" title="{{ button_list }}">
                </li>
              </ul>
              <div class="sort">
                <div class="popularity">
                  <label for="input-sort">{{ text_sort }}</label>
                  <select id="input-sort" onchange="location = this.value;">
                    {% for sorts in sorts %}
                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                    {% else %}
                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="showed">
                  <label for="input-limit">{{ text_limit }}</label>
                  <select id="input-limit" onchange="location = this.value;">
                    {% for limits in limits %}
                    {% if limits.value == limit %}
                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                    {% else %}
                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="tab-product">
              <div class="row sort-box">

                {% for product in products %}
                <div class="col-lg-4 col-sm-6">
                  <div class="product-box">
                    <div class="imagebox">
                      <div class="box-image owl-carousel-1">
                        <a href="{{ product.href }}" title="{{ product.name }}">
                          <img src="{{ product.thumb }}" alt="{{ product.name }}">
                        </a>
                      </div><!-- /.box-image -->
                      <div class="box-content">
                        <div class="cat-name">
                          {#<a href="#" title="">Cameras</a>#}
                        </div>
                        <div class="product-name">
                          <a href="{{ product.href }}" title="">{{ product.name }}</a>
                        </div>
                        <div class="price">
                          {% if not product.special %}
                          <span class="sale">{{ product.price }}</span>
                          {% else %}
                          <span class="sale">{{ product.special }}</span>
                          <span class="regular">{{ product.price }}</span>
                          {% endif %}
                        </div>
                      </div><!-- /.box-content -->
                      <div class="box-bottom">
                        <div class="btn-add-cart">
                          <button class="btn btn-success" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><img src="image/catalog/icons/add-cart.png" alt="{{ button_cart }}">{{ button_cart }}</button>
                            {#<a href="#" title="" onclick="cart.add('{{ product.product_id }}');">#}
                            {#<img src="image/catalog/icons/add-cart.png" alt="">{{ button_cart }}#}
                            {#</a>#}
                        </div>
                        <div class="compare-wishlist">
                          <a class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                            <img src="catalog/view/theme/default/images/icons/compare.png" alt="">{{ button_compare }}
                          </a>
                          <a class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                            <img src="catalog/view/theme/default/images/icons/wishlist.png" alt="">{{ button_wishlist }}
                          </a>
                        </div>
                      </div><!-- /.box-bottom -->
                    </div><!-- /.imagebox -->
                  </div>
                </div><!-- /.col-lg-4 col-sm-6 -->
                {% endfor %}


              </div>
              <div class="sort-box">

                {% for product in products %}
                <div class="product-box style3">
                  <div class="imagebox style1 v3">
                    <div class="box-image">
                      <a href="{{ product.href }}" title="{{ product.name }}">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}">
                      </a>
                    </div><!-- /.box-image -->
                    <div class="box-content">
                      <div class="cat-name">
                        {#<a href="#" title="">Cameras</a>#}
                      </div>
                      <div class="product-name">
                        <a href="{{ product.href }}" title="{{ product.name }}">{{ product.name }}</a>
                      </div>
                      {#<div class="status">#}
                        {#Availablity: In stock#}
                      {#</div>#}
                      <div class="info">
                        <p>
                          {{ product.description }}
                        </p>
                      </div>
                    </div><!-- /.box-content -->
                    <div class="box-price">
                      <div class="price">
                        {% if not product.special %}
                        <span class="sale">{{ product.price }}</span>
                        {% else %}
                        <span class="sale">{{ product.special }}</span>
                        <span class="regular">{{ product.price }}</span>
                        {% endif %}
                      </div>
                      <div class="btn-add-cart">
                        <button class="btn btn-success" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><img src="image/catalog/icons/add-cart.png" alt="{{ button_cart }}">{{ button_cart }}</button>
                        {#<a data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');">#}
                          {#<img src="catalog/view/theme/default/images/icons/add-cart.png" alt="{{ button_cart }}">{{ button_cart }}#}
                        {#</a>#}
                      </div>
                      <div class="compare-wishlist">
                        <a class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                          <img src="catalog/view/theme/default/images/icons/compare.png" alt="">{{ button_compare }}
                        </a>
                        <a class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                          <img src="catalog/view/theme/default/images/icons/wishlist.png" alt="">{{ button_wishlist }}
                        </a>
                      </div>
                    </div><!-- /.box-price -->
                  </div><!-- /.imagebox -->
                </div><!-- /.product-box -->
                {% endfor %}

                <div style="height: 9px;"></div>
              </div>
            </div>
            {% endif %}

              {% if not categories and not products %}
              <div class="alert alert-warning" role="alert">
                <p>{{ text_empty }}</p>
              </div>
              {% endif %}

          </div><!-- /.wrap-imagebox -->


          {% if products %}
          <div class="blog-pagination">
              <span>
                  {{ results }}
              </span>

              {{ pagination }}

            <div class="clearfix"></div>
          </div><!-- /.blog-pagination -->
          {% endif %}

          {% if description %}
          <hr>
          <div class="description row">
            <div class="col-sm-12">
            {% if thumb %}
              <div class="float-right hidden-xs" style="margin: 0 0 15px 20px"><img src="{{ thumb }}" alt="{{ heading_title }}" class="img-thumbnail" /></div>
            {% endif %}
            {% if description %}
                {{ description }}
            {% endif %}
            </div>
          </div>
          {% endif %}

          {{ content_bottom }}

        </div><!-- /.main-shop -->
      </div><!-- /.col-lg-9 col-md-8 -->

      {{ column_right }}

    </div><!-- /.row -->
  </div><!-- /.container -->
</main><!-- /#shop -->

{{ footer }} 
