{{ header }}


<section class="flat-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="{% if breadcrumb.order == "last" %}trail-end {% else %}trail-item{% endif %}">
                            <a href="{{ breadcrumb.href }}" title="">{{ breadcrumb.text }}</a>
                            {% if breadcrumb.order != "last" %}<span><img src="catalog/view/theme/default/images/icons/arrow-right.png" alt=""></span>{% endif %}
                        </li>
                    {% endfor %}
                </ul><!-- /.breacrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->



<main id="shop">
    <div class="container">
        <div class="row">

            {{ column_left }}

            {% if column_left and column_right %}
                {% set class = 'col-lg-7 col-md-4' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-lg-9 col-md-8' %}
            {% else %}
                {% set class = 'col-lg-12 col-md-12' %}
            {% endif %}

            <div class="{{ class }}">
                <div class="main-shop">

                    {{ content_top }}

                    <div class="wrap-imagebox">
                        <div class="flat-row-title">
                            <h1>{{ heading_title }}</h1>
                            {#<span>Showing 1–15 of 20 results</span>#}
                            <div class="clearfix"></div>
                        </div>

                        {% if categories %}
                            <div class="widget widget-tags">
                                <ul class="tag-list">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{{ category.href }}" class="waves-effect waves-teal">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if products %}
                            <div class="sort-product">
                                <ul class="icons">
                                    <li>
                                        <img src="catalog/view/theme/default/images/icons/list-1.png" alt="{{ button_grid }}" title="{{ button_grid }}">
                                    </li>
                                    <li>
                                        <img src="catalog/view/theme/default/images/icons/list-2.png" alt="{{ button_list }}" title="{{ button_list }}">
                                    </li>
                                </ul>
                                <div class="sort">
                                    <div class="popularity">
                                        <label for="input-sort">{{ text_sort }}</label>
                                        <select id="input-sort" onchange="location = this.value;">
                                            {% for sorts in sorts %}
                                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                                {% else %}
                                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="showed">
                                        <label for="input-limit">{{ text_limit }}</label>
                                        <select id="input-limit" onchange="location = this.value;">
                                            {% for limits in limits %}
                                                {% if limits.value == limit %}
                                                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                                {% else %}
                                                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="tab-product">
                                <div class="row sort-box">

                                    {% for product in products %}
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-box">
                                                <div class="imagebox">
                                                    <div class="box-image owl-carousel-1">
                                                        <a href="{{ product.href }}" title="{{ product.name }}">
                                                            <img src="{{ product.thumb }}" alt="{{ product.name }}">
                                                        </a>
                                                    </div><!-- /.box-image -->
                                                    <div class="box-content">
                                                        <div class="cat-name">
                                                            {#<a href="#" title="">Cameras</a>#}
                                                        </div>
                                                        <div class="product-name">
                                                            <a href="{{ product.href }}" title="">{{ product.name }}</a>
                                                        </div>
                                                        <div class="price">
                                                            {% if not product.special %}
                                                                <span class="sale">{{ product.price }}</span>
                                                            {% else %}
                                                                <span class="sale">{{ product.special }}</span>
                                                                <span class="regular">{{ product.price }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div><!-- /.box-content -->
                                                    <div class="box-bottom">
                                                        <div class="btn-add-cart">
                                                            <a data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');">
                                                                <img src="catalog/view/theme/default/images/icons/add-cart.png" alt="{{ button_cart }}">{{ button_cart }}
                                                            </a>
                                                        </div>
                                                        <div class="compare-wishlist">
                                                            <a class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                                                <img src="catalog/view/theme/default/images/icons/compare.png" alt="">{{ button_compare }}
                                                            </a>
                                                            <a class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                                                <img src="catalog/view/theme/default/images/icons/wishlist.png" alt="">{{ button_wishlist }}
                                                            </a>
                                                        </div>
                                                    </div><!-- /.box-bottom -->
                                                </div><!-- /.imagebox -->
                                            </div>
                                        </div><!-- /.col-lg-4 col-sm-6 -->
                                    {% endfor %}


                                </div>
                                <div class="sort-box">

                                    {% for product in products %}
                                        <div class="product-box style3">
                                            <div class="imagebox style1 v3">
                                                <div class="box-image">
                                                    <a href="{{ product.href }}" title="{{ product.name }}">
                                                        <img src="{{ product.thumb }}" alt="{{ product.name }}">
                                                    </a>
                                                </div><!-- /.box-image -->
                                                <div class="box-content">
                                                    <div class="cat-name">
                                                        {#<a href="#" title="">Cameras</a>#}
                                                    </div>
                                                    <div class="product-name">
                                                        <a href="{{ product.href }}" title="{{ product.name }}">{{ product.name }}</a>
                                                    </div>
                                                    {#<div class="status">#}
                                                    {#Availablity: In stock#}
                                                    {#</div>#}
                                                    <div class="info">
                                                        <p>
                                                            {{ product.description }}
                                                        </p>
                                                    </div>
                                                </div><!-- /.box-content -->
                                                <div class="box-price">
                                                    <div class="price">
                                                        {% if not product.special %}
                                                            <span class="sale">{{ product.price }}</span>
                                                        {% else %}
                                                            <span class="sale">{{ product.special }}</span>
                                                            <span class="regular">{{ product.price }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="btn-add-cart">
                                                        <button class="btn btn-success" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><img src="image/catalog/icons/add-cart.png" alt="{{ button_cart }}">{{ button_cart }}</button>
                                                        {#<a href="#" title="" onclick="cart.add('{{ product.product_id }}');">#}
                                                        {#<img src="image/catalog/icons/add-cart.png" alt="">{{ button_cart }}#}
                                                        {#</a>#}
                                                    </div>
                                                    <div class="compare-wishlist">
                                                        <a class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                                            <img src="catalog/view/theme/default/images/icons/compare.png" alt="">{{ button_compare }}
                                                        </a>
                                                        <a class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                                            <img src="catalog/view/theme/default/images/icons/wishlist.png" alt="">{{ button_wishlist }}
                                                        </a>
                                                    </div>
                                                </div><!-- /.box-price -->
                                            </div><!-- /.imagebox -->
                                        </div><!-- /.product-box -->
                                    {% endfor %}

                                    <div style="height: 9px;"></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if not categories and not products %}
                            <div class="alert alert-warning" role="alert">
                                <p>{{ text_empty }}</p>
                            </div>
                        {% endif %}

                    </div><!-- /.wrap-imagebox -->


                    {% if products %}
                        <div class="blog-pagination">
              <span>
                  {{ results }}
              </span>

                            {{ pagination }}

                            <div class="clearfix"></div>
                        </div><!-- /.blog-pagination -->
                    {% endif %}

                    {% if thumb or description %}
                        <hr>
                        <div class="description row">
                            {% if thumb %}
                                <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
                            {% endif %}
                            {% if description %}
                                <div class="col-sm-10">{{ description }}</div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {{ content_bottom }}

                </div><!-- /.main-shop -->
            </div><!-- /.col-lg-9 col-md-8 -->

            {{ column_right }}

        </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /#shop -->


{{ footer }}