{% if notify %}
<style>
    .notify > a{
        color:inherit;
        padding: 10px;
        margin:-10px;
        display:block;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
    }
</style>
<div class="notify alert alert-warning">{{text_complete_version}}</div>
{% endif %}
<ul class="nav nav-tabs">
    {% for tab in tabs %}
        <li class="{{tab.active?'active'}}">
            <a {{not tab.active? 'href="'~tab.href~'"'}}>
                <span  class="{{tab.icon}}"></span> {{tab.title}}
            </a>
        </li>
    {% endfor %}
</ul>